* {
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
  background-color: rgba(180, 67, 26, 0.813);
}

img {
  width: 300px;
  border: solid 6px;
  border-color: orange;
}

.ingredientes {
  border: solid 3px;
  border-color: rgba(255, 255, 0, 0.587);
  width: 200px;
}

.modo-de-preparo {
  border: solid 3px;
  border-color: rgba(255, 255, 0, 0.587);
  width: 300px;
}
