* {
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
}

body{
  background-color: rgb(255, 164, 90);
  font-family: "Montserrat", sans-serif;
}

img {
  width: 300px;
  border: solid 6px;
  border-color: orange;
  border-radius: 20px;
}

.ingredientes {
  border: solid 3px;
  border-color: rgba(255, 255, 0, 0.587);
  width: 200px;
}

.modo-de-preparo {
  border: solid 3px;
  border-color: rgba(255, 255, 0, 0.587);
  width: 300px;
}
